<table class="table">
  <tr>
    <th></th>
  	<th>Name</th>
  	<th>Email</th>
  	<th>Department</th>
  	<th>Designation</th>
  	<th>Location</th>
  </tr>
<%= form_tag(soft_delete_employees_path, method: 'post') do %>
<% @employees.each do |employee| %>
 <tr>
    <td><%= check_box_tag 'employees[]', employee.id %></td>
    <td><%= employee.name%></td>
    <td><%= employee.email_id%></td>
    <td><%= employee.department%></td>
    <td><%= employee.designation%></td>
    <td><%= employee.location%></td>
</tr>

<% end%>
</table>
  <%= submit_tag "Delete"%>
<% end %>
